.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

#question {
  font-size: 24px;
}

.input-group {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

input[type="text"] {
  width: 50px;
  height: 30px;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  text-align: center;
}

button {
  margin-left: 10px;
  width: 100px;
  height: 40px;
  font-size: 18px;
  background-color: lightblue;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}